.video-card-container{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card{
    position: relative;
    min-width: calc(100%/5 - 1%);
    width: calc(100%/5 - 1%);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #120317;
}

.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
}

.video-card-container2{
    position: relative;
    width: 80%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card2{
    position: relative;
    min-width: calc(100%/3 - 4%);
    width: calc(100%/3 - 4%);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #120317;
}

.video-card-image2,
.card-video2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video2{
    position: absolute;
}

.video-card2:hover .video-card-image2{
    display: none;
}

.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #16082e 90%);
    padding: 10px;
    transition: 0.5s;
}

.name{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 120%;
}

.cardprice {
    flex-direction: row;
}
.cardprice img {
    width: 30%;
}